.navbar{
  position:fixed;
  top: 0px;
  width: 100%;
  flex-wrap: nowrap; 
  display: flex;
  flex-direction: row; 
  background: rgb(158, 154, 154);
  justify-content: space-between;
  border-radius: 5px;
}
  
body{
  margin:0px;
  overflow : scroll;
  display:flex;
  flex-direction: column;
  padding-top: 30px;
}

#homepage{
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(220, 220, 220);
}
#Login{
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(220, 220, 220); 
}

.searchBar{
  padding-top: 3vh;
  display:flex;
	justify-content: center;
  position:fixed;
  width:100%;
  margin:0 auto;
  top: 50px;
  flex-direction: row; 
  background: white; 
  flex-wrap: wrap; 
}
input{
  margin-right:5px;
  margin-bottom:20px;
}

.button {
  border-radius: 3px;
  border-color: grey;
  text-decoration: none;
  display: block; 
  width: 100px;
  margin-top: 65px;
  height: 25px;
}

h2{
  text-decoration: none;
  font-weight: bold;
  color: grey; 
}

.cards{
  padding: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top:200px;
}

.card-item{
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

h7{
  width:150px; 
  font-size: larger;
}

.cardphotoes{
  display: flex;
  border-radius: 4px;
  width:350px ;
  height: 300px;
}

.description{
  display:flex;
  flex-direction: column;
  padding-left: 20px;
  color: grey; 
}

.price-area{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top:50px;
}

.details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding-top:50px;
}

.room{
  padding-bottom: 30px ;
}


input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a{
  text-decoration: none;
}



